<footer class="block block--dark footer">
  <div class="container grid grid--1x5">
    <section class="collapsible footer__collapsible">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__collapsible">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliation</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__collapsible">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__collapsible">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">DOMAIN</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__header footer__logo">
      <img class="footer__image" src="Images/logo.svg" alt="shishify logo" />
      <p class="footer__copyright">Copyright 2020 Abu Shifan</p>
    </section>
  </div>
</footer>
