<div class="container">
  <section class="block block--skewed-right">
    <header class="block__heading">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, et.
      </p>
    </header>
  </section>
</div>

<div>
  <section class="block block--dark block--skewed-left">
    <div class="container">
      <header class="block__heading">
        <h2 class="block__heading">Heading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, et.
        </p>
      </header>
    </div>
  </section>
</div>
