<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="Images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & Manage updates</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
      maxime natus. Est, amet, atque cumque aliquam repellendus libero illo
      molestias cupiditate officiis quae voluptas vero molestiae mollitia
      tempora. Repellendus quae ad officia perferendis voluptas. Amet fugiat
      recusandae velit alias reprehenderit non dolores quidem debitis, ab omnis
      dolorum. Est, natus perferendis?
    </p>
  </div>
</div>
